*{
    margin: 0;
    padding: 0;
}
#header{
    background-color:red;
    height: 32px;
    color:lightgray;
    font-size: 12px;
    font-weight: 100;/*加粗*/
}
#login-contain{
    float:left;
    line-height: 28px;/*行高*/
}
#login-contain a{
    padding-left: 10px;
    color: #fffdef;
    }
#login-contain a:hover{
    color:red;
}
#header-menu{
    float: right;
    line-height: 32px;
    /*padding-left:20px;*/
}
#header-menu li{
    float:left;
    padding:0 10px;
}
#header-menu .menu-hd{
    position: relative;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover{
    background-color: #fff;
}
#header-menu .menu-hd:hover::after{
    transition:transform 0.1s linear;
    transform:rotate(180deg);
}
#header-menu .menu-hd:hover>a{
    color:red;
    text-decoration: underline;
}
#header-menu .menu-hd{
    position: relative;
}
#header-menu .menu-hd .sub-menu{
    position:absolute;
    top:32px;
    left:0;
}
#header-menu .menu{
      font-size: 12px;
 }
#login-contain li a{
    float:left;
}
#header-menu .menu{
    text-align: center;
}
#header-menu a{
    color:lightgray;
    margin-top: 10px;
}
#header-menu .menu-hd:after{
    content:"";
    width: 0;
    border: 3px solid transparent;
    border-top-color: white;
    position:absolute;
    top:16px;
    right:1px;
}
#header-menu .bor{
    position: relative;
}
#header-menu .bor .sub-menu{
    position: absolute;
    width: 100px;
    height:70px;
    display:none;
}
#header-menu .bor:hover .sub-menu{
    display:block;
    border: 1px solid #cccccc;
}
#header-menu .bor:hover .sub-menu:hover li a{
    color: #ff0000;
    text-decoration: underline;
}
#header-menu .bor1{
    position:relative;
}
#header-menu .bor1 .sub-menu1{
    /*border:1px solid white;*/
    position: absolute;
    top:32px;
    left:0;
    width: 100px;
    height: 70px;
    display: none;
    border: 1px solid lightgray;
}
#header-menu .bor1:hover .sub-menu1{
    display: block;
}
#header-menu .bor1:hover .sub-menu1:hover a{
    color:red;
    text-decoration: underline;
}
#search img{
    width: 150px;
    float:left;
    padding-top: 43px;
}
#search-contain{
    float:left;
    margin-top: 100px;
    margin-left: 100px;
    }
#search-contain .search-list li{
    float:left;
}
#search-contain .search-input{
    border:2px solid red;
    height:36px;
    width: 530px;

}
#search-contain .search-input input{
    height: 36px;
    width: 380px;
    border: 0;
    float: left;
    outline: none;

}
#search-contain .search-input button{
    height: 36px;
    width: 150px;
    border: 0;
    float: left;
    background-color: red;
    color:white;
    font-size: 18px;
}
#search-contain .search-input input::placeholder{
    font-size:18px;
}
#search-contain li{
    padding:0 10px;
    margin:3px 0;
}
#search-contain .search-list .red a{
    color: red;
}
#search-contain .search-list li{
    border-right:1px solid darkgrey;
}
#search-contain .search-list li.last{
    border-right: 0;
}
#search-contain .search-list li.first{
    padding-left: 0;
}
#main-menu img{
    width: 100px;
    height:30px;
    float: left;
}
#search{
    height: 193px;
}
#main-menu li{
    float:left;
    margin-top: -5px;
    padding:10px;
}
#main-menu{
    padding-left:398px;
    height: 31px;
}
#search .search-list li a {
    color: lightgray;
}
#banner{
    border-top: 2px solid #ff0000;
}
#banner li a img{
    width:1230px;
    display: block;
    /*width:1230px;*/
    margin: 0 auto;
}
#banner .xiao{
    position: relative;
}
#banner .nav .xiao i{
    padding: 10px;
    /*margin-top: 5px;*/
}
#banner .nav{
    position:absolute;
    margin-top: -32px;
}
#banner .nav li{
    top:30px;
    padding: 10px;
    /*margin: 10px;*/
}
#list li{
    background-color:red;
    width:102px;
}
#banner .nav .xia{
    border:1px solid transparent;
    height:562px;
    margin-top: -36px;
    padding-top: 5px;
    /*background:rgba(0 0 0 .1);*/
}
#banner .nav .shang{
    background-color: #ff0000;
    margin-top: -10px;
    padding-left: 18px;
}
#banner .nav .shang i{
    margin:8px;
}
#banner .nav .xia .xiao{
    /*background-color:lightgray;*/
    background: rgba(204,204,204,.5);
}
#header-menu .menu li a{
    color: #000;
}
#header-menu .menu .bor2{
    border:1px solid lightgray;
    height:222px;
    width: 130px;
    display: none;
    color: #000;
}
#header-menu .menu-hd{
    position: relative;
}
#header-menu .menu-hd .bor2{
    position: absolute;
}
#header-menu .menu-hd .bor2 li a{
    color: #000;
}
#header-menu .menu-hd:hover .bor2{
    display:block;
}
#header-menu .menu-hd .bor2 li:hover a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu .bor3{
    border: 1px solid lightgray;
    height:393px;
    position: absolute;
    display: none;
}
#header-menu .menu .bor3 .class1{
    border: 1px solid lightgray;
    height:130px;
    width:300px;
}
#header-menu .menu .bor3 .class2{
    border: 1px solid lightgray;
    height:130px;
    width:230px;
}
#header-menu .menu .bor3 .class3{
    border: 1px solid lightgray;
    height:130px;
    width:160px;
}
/*#header-menu .menu .bor3 ul{*/
    /*float: left;*/
/*}*/
#header-menu .menu{
    position: relative;
}
#header-menu .menu:hover .bor3{
    display: block;
}
#header-menu .menu:hover .bor3 li a{
    color: #000000;
}
#header-menu .menu .bor3 li:hover a{
    color:#ff0000;
    text-decoration:underline;
}
#header-menu .menu:hover .bor3 .class1 li{
    font-size:20px;
    color: darkorange;
}
#header-menu .menu:hover .bor3 .class1 li a{
    font-size: 12px;
    /*color: darkorange;*/
}
#header-menu .menu .bor3 .class1 li:hover a{
    color: darkorange;
}
#header-menu .menu:hover .bor3 .class2 li{
    font-size:20px;
    color:lightblue;
}
#header-menu .menu:hover .bor3 .class2 li a {
    font-size: 12px;
}
#header-menu .menu .bor3 .class2 li:hover a{
    color: lightblue;
}
#header-menu .menu:hover .bor3 .class3 li{
    font-size:20px;
    color:#000000;
}
#header-menu .menu:hover .bor3 .class3 li a {
    font-size: 12px;
}
#header-menu .menu .bor3 .class3 li:hover a{
    color:#000000;
}
#banner .nav .xia .xiao{
    position: relative;
}
#banner .nav .xia .xiao .girl{
    border:1px solid transparent;
    height: 159px;
    width:707px;
    /*display: none;*/
    position:absolute;
    margin-left:211px;
    margin-top: -10px;
}
#banner .nav .xia .xiao:hover .girl{
    display: block;
    background-color: #ffffff;
}
#banner .nav .xia .xiao .girl .girl-xiao{
    border:1px solid transparent;
    height:159px;
    width:586px;
    margin-left: 120px;
    margin-top:-30px;
    float:left;
}
#banner .nav .xia .xiao .girl .girl-xiao li{
    float: left;
}


