*{
    margin:0;
    padding: 0;
}
.wrapper{
    width: 1230px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    color:#000000;
    text-decoration: none;
}
/*a{*/
    /*text-decoration: none;*/
/*}*/