.circle{
    border: 10px solid black;
    height:200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
}
.circle:after{
    content: "";
    display: block;
    border: 10px solid black;
    height:200px;
    width: 200px;
    border-radius: 50%;
    position:relative;
    top:-10px;
    left: -10px;
}
.blue{
    border-color: blue;
}
.blue:after{
    border: 10px solid blue;
    z-index: 1;
    border-bottom-color: transparent ;
}
.black{
    left:240px;
}
.black:after{
    border: 10px solid black;
    z-index: 1;
    border-left-color: transparent;
}
.red{
    border-color: red;
    left: 470px;
}
.red:after{
    border: 10px solid red;
    z-index: 2;
    border-left-color: transparent;
    /*border-bottom-color: transparent;*/
}
.yellow{
    border-color: yellow;
    left: 120px;
    top: 110px;
}
.yellow:after{
    border: 10px solid yellow;
}
.green{
    border-color: green;
    left: 350px;
    top: 110px;

}
.green:after{
    border: 10px solid green;
    z-index: 1;
    border-top-color: transparent;
    border-right-color: transparent;
}